body {
    background-color: #eef5f9;
}

.navbar {
    background: #e96443;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    flex-direction: row;
}

p,h1,h2,h3,h4,h5 {
    font-family: "Roboto";
    font-weight: 300;
}

.text-card {
    margin: 15px 15px 0 15px
}

.main-odometer {
    font-size: calc(30px + 6vw)
}

.mainWrapper {
  margin-top: 50px;
  margin-left: 225px;
}

.odometer {
    font-family: 'Roboto';
    font-weight: 500;
}

.navbar-text {
    color: white;
}

.tiktok-button {
    background-color: #EE1D52;
    color: white;
}

.sidebar {
    position: fixed;
    width: 225px;
    top: 0;
    bottom: 0;
    z-index: 100;
    padding-top: 25px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: white;
}

.navbar-button {
  outline: none;
  border: 0;
  background: transparent;
  color: white;
  font-size: 20px;
  display: none;
}

iframe[src*="ads-iframe"] { display: none; }

.bottom-odometer {
    font-size: calc(20px + 1vw)
}

.m-row {
    margin-top: 20px;
}

.nav-item {
    font-size: 17px;
    margin-left: 10px;
}

.nav-title-text {
    margin-top: 40px;
}

@media (max-width: 946px) {
  .sidebar {
      width: auto;
  }
  .mainWrapper {
    margin-left: 70px;
  }
  .navbar-text-gone {
      font-size: 0px;
  }
  .navbar-button {
    display: inline-block;
  }
}

.sidebar-expand {
  width: 225px;
}