@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');

body {
  background-color: #eef5f9;
  font-family: "Montserrat";
}

.content {
  display: none;
}

/* Top Nav */
.navbar {
  background: #ff00cc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  flex-direction: row;
}

.navbar h2 {
  font-size: calc(10px + 2vw);
}

.navbar-button {
  outline: none;
  border: 0;
  background: transparent;
  color: white;
  font-size: 20px;
  display: none;
}

.navbar-text {
  color: white;
}


/* Side Nav */
.sidebar {
  position: fixed;
  width: 225px;
  top: 0;
  bottom: 0;
  z-index: 100;
  padding-top: 25px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: white;
}

.nav-item {
  font-size: 17px;
  margin-left: 10px;
}

.nav-title-text {
  margin-top: 40px;
}

/* Main Wrapper */
.mainWrapper {
  margin-top: 50px;
  margin-left: 225px;
}

.m-row {
  margin-top: 20px;
}

p,h1,h2,h3,h4,h5 {
  font-weight: 500;
  padding: 0;
  margin: 0;
}

h1.username {
  font-size: calc(12px + 1vw)
}

.disqus-heading {
  font-size: 18px;
  font-weight: 500;
}

.bott-text {
  font-size: 15px;
}
/* Cards */
.text-card {
  margin: 15px;
}

/* Counter */

.main-odometer {
  font-size: calc(24px + 2vw);
}

.odometer {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.4em !important;
}

.bottom-odometer {
  font-size: calc(14px + 1vw)
}

.thumbnail-img {
  width: 100%;
  height: 100%;
  float: left;
}

@media (max-width: 946px) {
  .sidebar {
      width: auto;
  }
  .mainWrapper {
    margin-left: 70px;
  }
  .navbar-text-gone {
      font-size: 0px;
  }
  .navbar-button {
    display: inline-block;
  }
  }

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%)
}

.navbar {
  box-shadow: 0px 2px 6px 0px #d4d4d4;
}

.card {
  border: 0;
  box-shadow: 0px 0px 8px 0px #d4d4d4;
}

.bott-card {
  box-shadow: 0px 0px 4px 0px #d4d4d4;
}

.text-card h3 {
  margin-bottom: 2px;
}

.load-text {
  text-align: center;
  display: none;
}

.close-loader:hover {
  color: orange;
}

.lc_ads { width: 100%; margin: 0 auto; }
