body {
  background-color: #ebeef0;
}

/* Cool Scroll Bar */
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: rgb(212, 211, 211);
}
::-webkit-scrollbar-track{
  background: rgb(0,0,0);
}
/**/  


.navbar {
  background: #000000;  /* fallback for old browsers */
  flex-direction: row;
}

.navbar-logo {
  height: 50px;
  vertical-align: middle;
}

.topnav-text {
  vertical-align: middle;
}

p,h1,h2,h3,h4,h5 {
  font-family: "Roboto";
  font-weight: 300;
}

.text-card {
  margin: 15px 15px 0 15px
}

.main-odometer {
  font-size: calc(30px + 6vw)
}

.mainWrapper {
margin-top: 50px;
margin-left: 225px;
}

.odometer {
  font-family: 'Roboto';
  font-weight: 400;
}

.navbar-text {
  color: white;
}

.tiktok-button {
  background-color: #EE1D52;
  color: white;
}

.sidebar {
  position: fixed;
  width: 225px;
  top: 0;
  bottom: 0;
  z-index: 100;
  padding-top: 25px;
  overflow-y: auto;
  background-color: white;
}

.more-users {
  display: none;
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

.fa-arrow-down {
  transition: transform .6s ease-in-out;
}

.featured-pic {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.navbar-button {
outline: none;
border: 0;
background: transparent;
color: white;
font-size: 20px;
display: none;
}

iframe[src*="ads-iframe"] { display: none; }

.bottom-odometer {
  font-size: calc(20px + 1vw)
}

.m-row {
  margin-top: 20px;
}

.nav-item {
  font-size: 17px;
  margin: 0 10px;
}

.nav-item:hover {
  background-color: black;
  
}

.nav-item:hover .navbar-text-gone {
  color: white;
}

.nav-item:hover i {
  color: white;
}

.nav-title-text {
  margin-top: 40px;
}

.card {
  border: 0;
  box-shadow: 0px 0px 5px 1px rgb(219, 219, 219);
}

@media (max-width: 946px) {
.sidebar {
    width: auto;
}
.mainWrapper {
  margin-left: 74px;
}
.navbar-text-gone {
    font-size: 0px;
}
.navbar-button {
  display: inline-block;
}
}

.sidebar-expand {
width: 225px;
}

.lc_ads { width: 100%; margin: 0 auto; }