body {
  background-color: #eef5f9;
}

.navbar {
  background: #000000;  /* fallback for old browsers */
  flex-direction: row;
}

.navbar-logo {
  height: 50px;
  vertical-align: middle;
}

p,h1,h2,h3,h4,h5 {
  font-family: "Roboto";
  font-weight: 300;
}

iframe[src*="ads-iframe"] { display: none; }

.navbar h2 {
width: 100%;
}

.navbar-text {
color: white;
}

.odometer {
font-family: "Roboto";
font-weight: 500;
}

.main-odometer {
font-size: calc(30px + 4vw);
}

.bottom-odometer {
font-size: calc(40px + 1vw)
}

.tiktok-button {
background-color: #EE1D52;
color: white;
}

.text-card {
  margin: 15px 15px 0 15px
}