.card-header {
    background-color: white;
}

.header-text {
    font-size: calc(30px + 1vw)
}

.main-odo {
    font-size: calc(43px + 2vw)
}

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
  }
.text-center {
  text-align: center;
}

.video-title {
  font-size: calc(10px + 2vw);
}

.difference-odo {
  font-size: calc(20px + 1vw);
}

@media screen and (max-width: 800px) {
  .difference-card {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .card-header {
    display: none;
  }
  .header-text {
    font-size: 0;
  }

  .card-head {
    display: none;
  }
}

  /* ----------------------------------------------- */
/*                    Navbar                        */
/* ----------------------------------------------- */

ul {
  list-style-type: none;
  margin: -10px;
  padding: 0;
color: rgb(75, 28, 28);
  width: 250px;
  background-color: #fff;
box-shadow: 7px 2px 28px -14px;
  height: 100%;
  position: fixed; 
  overflow: hidden;
}

#shoppy-link {
cursor:pointer;
}

.nav-title {
padding: 0px;
text-align: center;
font-size: 13px;
position: relative;
top: 20px;
left: -23px;
}

.nav-title2 {
padding: 0px;
text-align: center;
font-size: 13px;
position: relative;
top: 20px;
left: -53px;
}

.link {
position: relative;
left: 30px;
top: 30px;
font-size: 17px;
}

.link2 {
position: relative;
left: 27px;
top: 30px;
font-size: 17px;
}

.link:hover {
color: red;
}

.link2:hover {
color: red;
}


.active {
  background-color: #dddddd;
  color: black;
}

@media screen and (max-width: 1500px) {
  ul {
		width: 200px;
	}
}

@media screen and (max-width: 1252px) {
  ul {
		width: 0px;
	}
}


@media screen and (max-width: 800px) {
	ul {
		width: 0px;
	}
	
	pre {
		width: 0px;
		display: none;
	}
	
	label {
		width: 0px;
		display: none;
	}
}