body {
  background-color: #eef5f9;
}

.navbar {
  background: #1a2a6c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  flex-direction: row;
}

p,h1,h2,h3,h4,h5 {
  font-family: "Roboto";
  font-weight: 400;
}

.text-card {
  margin: 15px 15px 0 15px
}

.main-odometer {
  font-size: calc(30px + 6vw)
}

.profile-picture {
  margin-top: -80px;
  -webkit-box-shadow: 5px 5px 18px 5px rgba(0,0,0,0.3); 
  box-shadow: 5px 5px 18px 5px rgba(0,0,0,0.3);
}

.mainWrapper {
margin-top: 50px;
margin-left: 225px;
}

.odometer {
  font-family: 'Roboto';
  font-weight: 400;
}

.navbar-text {
  color: white;
  font-size: calc(15px + 1vw)
}

.customize-button {
  background-color: #933a03;
  color: white;
}

.social-button {
  background-color: #FF0000;
  color: white;
}

.sidebar {
  position: fixed;
  width: 225px;
  top: 0;
  bottom: 0;
  z-index: 100;
  padding-top: 25px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: white;
}

.navbar-button {
outline: none;
border: 0;
background: transparent;
color: white;
font-size: 20px;
display: none;
}

iframe[src*="ads-iframe"] { display: none; }

.bottom-odometer {
  font-size: calc(25px + 1vw)
}

.m-row {
  margin-top: 20px;
}

.nav-item {
  font-size: 17px;
  margin-left: 10px;
}

.nav-title-text {
  margin-top: 40px;
}

@media (max-width: 946px) {
.sidebar {
    width: auto;
}
.mainWrapper {
  margin-left: 70px;
}
.navbar-text-gone {
    font-size: 0px;
}
.navbar-button {
  display: inline-block;
}
}

.sidebar-expand {
width: 225px;
}