body {
	background-color: #eef5f9;
  }
  
  .navbar {
	background: #e96443;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	flex-direction: row;
  }
  
  p,h1,h2,h3,h4,h5 {
	font-family: "Roboto";
	font-weight: 300;
  }

  .profile-picture {
	  margin-top: -50px;
	  -webkit-box-shadow:5px 5px 18px 5px rgba(0,0,0,.3);
	  box-shadow:5px 5px 18px 5px rgba(0,0,0,.3)
  }
  
  iframe[src*="ads-iframe"] { display: none; }
  
  .navbar h2 {
  width: 100%;
  }
  
  .navbar-text {
  color: white;
  }
  
  .odometer {
  font-family: "Roboto";
  font-weight: 400;
  }
  
  .main-odometer {
  font-size: calc(1px + 6vw);
  }
  
  .bottom-odometer {
  font-size: calc(20px + 2vw);
  }
  
  .social-button {
  background-color: #FF0000;
  color: white;
  }
  
  .text-card {
	margin: 15px 15px 0 15px
  }

  .lc_ads { width: 100%; margin: 0 auto; }

  @media only screen and (max-width: 767px) {
    .main-odometer {
      font-size: 15vw;
    }

    .bottom-odometer {
      font-size: 7vw;
    }
  }